In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Netflix data from may 23rd, 2020 -> may 23rd, 2021

file = pd.read_csv("NFLX_start.csv", index_col = 0, parse_dates = True)
df = pd.DataFrame(file)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-05-26,427.769989,428.500000,413.140015,414.769989,414.769989,7881100
2020-05-27,410.380005,420.019989,397.859985,419.890015,419.890015,10446300
2020-05-28,417.239990,422.369995,411.500000,413.440002,413.440002,5655100
2020-05-29,417.459991,420.299988,411.850006,419.730011,419.730011,5254900
2020-06-01,418.829987,426.720001,415.980011,425.920013,425.920013,3743700

In [4]:
df["Daily_Change"] = df["Close"] - df["Open"]

In [5]:
df["Daily_Pct_Change"] = (df["Close"] - df["Open"])/df["Open"]*100

In [6]:
df["Normalized_Change"] = df["Close"]/df["Close"].iloc[0]

In [7]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Pct_Change,Normalized_Change
Date,,,,,,,,,
2020-05-26,427.769989,428.500000,413.140015,414.769989,414.769989,7881100,-13.000000,-3.039016,1.000000
2020-05-27,410.380005,420.019989,397.859985,419.890015,419.890015,10446300,9.510010,2.317367,1.012344
2020-05-28,417.239990,422.369995,411.500000,413.440002,413.440002,5655100,-3.799988,-0.910744,0.996793
2020-05-29,417.459991,420.299988,411.850006,419.730011,419.730011,5254900,2.270020,0.543769,1.011958
2020-06-01,418.829987,426.720001,415.980011,425.920013,425.920013,3743700,7.090026,1.692817,1.026882

In [8]:
# write the df as a csv to current folder

# df.to_csv("NFLX.csv", header=True)