In [1]:
# dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
TSLA = pd.read_csv("TSLA.csv", index_col = 0, parse_dates= True)
NFLX = pd.read_csv("NFLX.csv", index_col = 0, parse_dates= True)

In [3]:
# import TSLA first, format it
tsla = pd.DataFrame(TSLA)
tsla.head(3)

,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Pct_Change,Normalized_Change
Date,,,,,,,,,
2020-05-26,166.899994,166.919998,163.141998,163.774002,163.774002,40448500,-3.125992,-1.872973,1.000000
2020-05-27,164.171997,165.542007,157.000000,164.046005,164.046005,57747500,-0.125992,-0.076744,1.001661
2020-05-28,162.701996,164.949997,160.337997,161.162003,161.162003,36278000,-1.539993,-0.946511,0.984051

In [11]:
# format 

tsla = tsla.round(2)
tsla.sample(n=3)

,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Pct_Change,Normalized_Change
Date,,,,,,,,,
2021-02-12,801.26,817.33,785.33,816.12,816.12,23768300,14.86,1.85,4.98
2020-09-16,439.87,457.79,435.31,441.76,441.76,72279300,1.89,0.43,2.70
2021-05-06,680.76,681.02,650.00,663.54,663.54,27784600,-17.22,-2.53,4.05

In [12]:
# export the rounded TSLA to csv

# tsla.to_csv(r'TSLA_updated.csv', header=True, index=True)

In [13]:
# import & format the NFLX DF
nflx = pd.DataFrame(NFLX)

In [14]:
nflx = nflx.round(2)
nflx.head(3)

,Open,High,Low,Close,Adj Close,Volume,Daily_Change,Daily_Pct_Change,Normalized_Change
Date,,,,,,,,,
2020-05-26,427.77,428.50,413.14,414.77,414.77,7881100,-13.00,-3.04,1.00
2020-05-27,410.38,420.02,397.86,419.89,419.89,10446300,9.51,2.32,1.01
2020-05-28,417.24,422.37,411.50,413.44,413.44,5655100,-3.80,-0.91,1.00

In [15]:
# export the rounded NFLX to csv

 # nflx.to_csv("NFLX_updated.csv", header= True, index=True)

In [16]:
# merge on dates 

combined_df = tsla.join(nflx, lsuffix="_TSLA", rsuffix="_NFLX")

In [17]:
combined_df.head(3)

,Open_TSLA,High_TSLA,Low_TSLA,Close_TSLA,Adj Close_TSLA,Volume_TSLA,Daily_Change_TSLA,Daily_Pct_Change_TSLA,Normalized_Change_TSLA,Open_NFLX,High_NFLX,Low_NFLX,Close_NFLX,Adj Close_NFLX,Volume_NFLX,Daily_Change_NFLX,Daily_Pct_Change_NFLX,Normalized_Change_NFLX
Date,,,,,,,,,,,,,,,,,,
2020-05-26,166.90,166.92,163.14,163.77,163.77,40448500,-3.13,-1.87,1.00,427.77,428.50,413.14,414.77,414.77,7881100,-13.00,-3.04,1.00
2020-05-27,164.17,165.54,157.00,164.05,164.05,57747500,-0.13,-0.08,1.00,410.38,420.02,397.86,419.89,419.89,10446300,9.51,2.32,1.01
2020-05-28,162.70,164.95,160.34,161.16,161.16,36278000,-1.54,-0.95,0.98,417.24,422.37,411.50,413.44,413.44,5655100,-3.80,-0.91,1.00

In [18]:
# export the combined df to a csv file

combined_df.to_csv("NFLX_TSLA.csv", header=True, index=True)